.form__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  width: 310px;
  min-height: 41px;
  background-color: #fafafa;
  border: 1px solid #ccc;
}

.form__textarea {
  width: 100%;
  background-color: #fafafa;
}

.form__label {
  color: #5c5c5c;
  margin-bottom: 5px;
}

.form__legend {
  color: #5c5c5c;
  margin-bottom: 5px;
}

.form__date-title {
  color: #5c5c5c;
  margin-bottom: 5px;
}

.form__date {
  & input[type=number] {
    width: 70px;
    margin-right: 10px;
  }
  & .form__list {
    display: flex;
    flex-direction: row;
  }
    & .form__label {
      margin-top: 5px;
    }
}
