.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.main-nav__toggle {
  display: block;
  margin: 0 auto;
}
