.social {
  min-height: 80px;
}

.social__svg {
  fill: black;
  &:hover {
    fill: #5c5c5c;
  }
}

.social__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 0;
}

.social__hr {
   border-bottom: 1px solid #5c5c5c;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}


